// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexwrap {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.leftcol {
  width: 270px;
  height: 1000px;
  float: left;
  border-right: 2px solid black;
  padding: 8px;
  margin: 0px;
  overflow: hidden;
}

h3 {
  padding: 0px;
}

.midcol {
  overflow: hidden;
}

.item_image {
  float: left;
  padding: 10px;
  width: 160px;
  border: 1px dashed black;
  margin: 5px;
  background-color: grey;
}

.image_thumb {
  width: 100px;
  height: 100px;
  margin: 0px auto 0px auto;
  border: 1px solid black;
}

.item_name {
  text-align: center;
  padding: 0px;
  margin: 3px;
  height: 70px;
  text-decoration: none;
  color: black;
}

a.item_name:hover {
  text-decoration: underline;
}

.no_match {
  padding-left: 10px;
  color: red;
}

.userarea {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
}

.addnew {
  text-decoration: none;
  color: black;
}

.addnew:hover {
  text-decoration: underline;
}